<!DOCTYPE html>
<html>
    <head>
        <title>Accurate Tracker</title>

        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">

        <link href="./bower_components/angular-material/angular-material.css" rel="stylesheet" />
        <link href="./styles/style.css" rel="stylesheet" />

        <script src="./bower_components/angular/angular.js" type="text/javascript" ></script>
        <script src="./bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
        <script src="./bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
        <script src="./bower_components/angular-material/angular-material.js" type="text/javascript" ></script>
        <script src="./bower_components/angular-route/angular-route.js" type="text/javascript" ></script>
        <script src="./bower_components/angular-messages/angular-messages.js" type="text/javascript" ></script>
        <script src="./bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
        <script src="./bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
        <script src="./bower_components/lodash/lodash.js"></script>
        <script src="./bower_components/jquery/dist/jquery.min.js"></script>

        <script src="https://maps.googleapis.com/maps/api/js"></script>

        <script src="./services.js"></script>
        <script src="./controllers.js"></script>
        <script src="./filters.js"></script>
        <script src="./directives.js"></script>
        <script src="./initStorage.js"></script>
        <script>
            // Create module "tracker"
            var tracker = angular.module("tracker", ["ngMaterial", "ngRoute", "uiGmapgoogle-maps"]);

            services(tracker);
            controllers(tracker);
            filters(tracker);
            directives(tracker);
            initStorage(tracker, [
                ["standard_messages", true],
                ["favorites", []],
                ["timers", []]
            ]);

            tracker
                .value("stop_details", {stops:{}, loaded: false})
                .value("DATA_STORAGE_KEY", "stop_data")
                .value("DEPARTURE_UPDATE_INTERVAL", 60*1000)    // 60 seconds
                .config(function($routeProvider, $mdThemingProvider, $mdIconProvider){
                    $routeProvider
                        .when("/", {
                            templateUrl: "pages/landing.html",
                            controller: "Landing"
                        })
                        .when("/search", {
                            templateUrl: "pages/search.html",
                            controller: "Search"
                        })
                        .when("/stop/:id", {
                            templateUrl: "pages/stop_details.html",
                            controller: "StopDetails"
                        })
                        .when("/trip/:id", {
                            templateUrl: "pages/trip_details.html",
                            controller: "TripDetails"
                        })
                        .when("/favorites", {
                            templateUrl: "pages/favorites.html",
                            controller: "Favorites"
                        })
                        .otherwise({
                            redirectTo: "/"
                        });

                    $mdThemingProvider.theme('docs-dark', 'default')
                        .primaryPalette("grey")
                        .dark();

                    $mdIconProvider.iconSet("ui", "icons/ui_icon_set.svg", 24);
                })
                .run(function($location, MapComponentManager, loadStopsDetails, $http){
                    $http.get("styles/map-style.json").then(function(styles){
                        MapComponentManager.load(document.getElementById("map-container"), {
                            mapTypeControl: false, streetViewControl: false, 
                            scaleControl: false, zoomControl: false, scrollwheel: false, disableDoubleClickZoom: false,
                            minZoom: 17, maxZoom: 17,
                            disableDefaultUI: true, clickableIcons: false,
                            center: { lat: 40.1069778, lng: -88.2272211 }, // main quad
                            zoom: 17,
                            styles: styles.data,
                            backgroundColor: "none"
                        });
                    });

                    MapComponentManager.loaded(function(commands){
                        commands.getAndCreateMarker("user", "self-location", {
                            position: {lat: 0, lng: 0},
                            iconName: "home_v2",
                            visible: false,
                            caption: "You are here",
                            iconHoverable: true,
                            level: "focus",
                            events: {
                                click: function(data, self){
                                    self.center();
                                }
                            }
                        });
                    });

                    loadStopsDetails().then(function(stops){
                        MapComponentManager.loaded(function(commands){
                            var all_stops = commands.addSet("all-stops");
                            for(var stop_id in stops){
                                var stop = stops[stop_id],
                                    stop_marker = commands.createMarker({
                                        position: {lat: stop.mid_lat, lng: stop.mid_lon},
                                        iconName: "stop_v2",
                                        caption: stop.stop_name,
                                        iconHoverable: true,
                                        level: "common",
                                        data: stop,
                                        events: {
                                            click: function(stop){
                                                $location.path("/stop/" + stop.stop_id);
                                            }
                                        }
                                    });

                                all_stops.setMarker(stop_id, stop_marker);
                            }
                        })
                    });
                });
        </script>
    </head>
    <body ng-app="tracker" ng-controller="Overall">
        <div id="map" class="overlayControlled" ng-class="overlayPage">
            <div style="position: relative; height: 100%;">
                <div id="map-container"></div>
            </div>
        </div>
        <div id="wrapper" layout="row" class="overlayControlled" ng-class="overlayPage">
            <div id="menu" layout="column" ng-class="{'closed': menuClosed}">
                <div layout="column" layout-align="center" class="headbar">
                    <md-button id="menu-toggle-button" class="md-icon-button" ng-click="toggleMenu()" ng-class="{'hide': !atLanding}" aria-label="Toggle Menu">
                        <md-icon md-svg-icon="ui:menu"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="navBack()" ng-class="{'hide': atLanding}" aria-label="Back">
                        <md-icon md-svg-icon="ui:arrow-left"></md-icon>
                    </md-button>
                </div>
                <div layout="column" id="menu-more">
                    <md-button class="md-icon-button" aria-label="Favorites" ng-click="goToFavorites()">
                        <md-tooltip md-direction="right">Favorites</md-tooltip>
                        <md-icon md-svg-icon="ui:heart_solid"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Toggle Profanity" ng-click="toggleProfanity()">
                        <md-tooltip md-direction="right">All the Profanity</md-tooltip>
                        <md-icon md-svg-icon="ui:profanity"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="About" ng-click="openAbout()">
                        <md-tooltip md-direction="right">About</md-tooltip>
                        <md-icon md-svg-icon="ui:info"></md-icon>
                    </md-button>
                </div>
            </div>
            <div id="content" ng-view layout="column" flex></div>
        </div>
        <div id="overmap-timers" ng-controller="overmapTimers">
            <div class="overmap-timer" ng-repeat="timer in timers track by timer.timer_id" layout="column" layout-align="center end" ng-right-click="displayRemove($event)">
                <div class="overmap-timer-removeBubble" ng-if="rightClicked" ng-click="removeTimer($index)" msg="remove" msg-page-id="ui"></div>
                <md-tooltip class="multilineTooltip" md-direction="left" ng-if="!rightClicked">
                    Timer set for {{timer.timerInterval}} minutes
                </md-tooltip>
                <span>Bus #{{timer.vehicle_id}} {{timer.headsign}}</span>
                <span>At {{timer.stop.stop_name}}</span>
                <div class="overmap-timer-interval" layout="row" layout-align="end end">
                    <div class="overmap-timer-interval-minutes">{{timer.remainingTime | date:"m"}}</div>:<div class="overmap-timer-interval-seconds">{{timer.remainingTime | date:"ss"}}</div><div class="overmap-timer-interval-text">min</div>
                </div>
            </div>
        </div>
        <div id="overmap-buttons" ng-controller="overmapButtons">
            <md-button ng-click="button.click()" ng-repeat="button in buttons">{{button.text}}</md-button>
        </div>
        <div id="overlay" ng-switch="overlayPage" ng-if="overlayPage">
            <div id="about" ng-switch-when="about" layout="column">
                <div layout="row" layout-align="center center">
                    <md-button class="md-icon-button" aria-label="Close" ng-click="clearOverlay()">
                        <md-icon md-svg-icon="ui:close"></md-icon>
                    </md-button>
                    <h2 flex>Accurate Tracker is brough to you by...</h2>
                </div>
                <div layout="row" flex>
                    <div layout="column" layout-align="start center" flex>
                        <h3 class="about-part">Designer</h3>
                        <div class="about-avatar"></div>
                        <h3 class="about-name">Vincent Chang</h3>
                        <p>
                            University of Illinois at Urbana-Champaign<br>
                            BFA Graphic Design<br>
                            <a href="http://www.vincentchang.ninja">vincentchang.ninja</a>
                        </p>
                        <h3 class="about-tools">Designed Using:</h3>
                        <p>
                            Sketch<br>
                            Zeplin
                        </p>

                    </div>
                    <div layout="column" layout-align="start center" flex>
                        <h3 class="about-part">Developer</h3>
                        <div class="about-avatar"></div>
                        <h3 class="about-name">Derek Leung</h3>
                        <p>
                            University of Illinois at Urbana-Champaign<br>
                            BS Computer Science<br>
                            Github <a href="https://www.github.com/derek1906" target="_blank">@derek1906</a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="splash" ng-switch-when="splash" layout="column" layout-align="center center">
                <md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
                <div>Wait a sec...</div>
            </div>
        </div>
    </body>
</html>
