@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
    background: rgba(0, 0, 0, 0.6);
}
body{
    width: 100%;
    height: 100%;
    font-family: Montserrat;
}
*:hover::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid transparent;
    background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid transparent;
    background-clip: padding-box;
}


/* Overrides */
.md-button:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.3);
}


/* Standard height for toolbar level */
.headbar{
    height: 64px;
}
.headbar .md-errors-spacer{
    min-height: 0;
}


/* Map background */
#map{
    position: absolute;
    width: 100%;
    height: 100%;
}
#map .angular-google-map-container{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Overmap buttons */
#overmap-buttons{
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 16px 32px;
    color: white;
}

/* Overlay container */
#overlay{
    position: absolute;
    width: 100%;
    height: 100%;
}
#overlay > *{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Background style with overlay */
.overlayControlled{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
    transition: filter 0.3s ease;
    -webkit-transition: -webkit-filter 0.3s ease;
    -moz-transition: -moz-filter 0.3s ease;
}
.overlayControlled.about{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
}


/* Page wrapper */
#wrapper{
    position: absolute;
    width: 50%;
    height: 100%;
}
#wrapper *, #overlay *{
    color: white;
}
#wrapper *:not(input), #about *{
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.6) !important;
}
#wrapper svg{
    -webkit-filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.6));
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.6));
}


/* Overlays */
#splash{
    background: white;
}
#splash *{
    color: black;
}
#about{
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}
#about *{
    text-align: center;
}
#about h2{
    margin: 0;
}
#about .about-part{
    font-size: 36px;
}
#about .about-name{
    font-size: 24px;
}
#about .about-avatar{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 50% 50%;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.6);
    background: gray;
}


/* Menu sidebar */
#menu{
    padding: 0 10px;
}
#menu #menu-toggle-button{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(-90deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#menu-more{
    margin-left: 0%;
    -webkit-transition: margin-left 0.3s ease;
    -moz-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease;
}
#menu.closed #menu-toggle-button{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}
#menu.closed #menu-more{
    margin-left: -150%;
}


/* Content panel */
#content{
}


/* Universal styles */
.main-content{
    background: transparent;
    overflow: visible;
}
.page-title{
    font-size: 91px;
    margin: 0;
    padding: 0;
}
.page-subtitle{
    font-size: 20px;
    line-height: 28px;
}
.page-header{
    margin-bottom: 35px;
    white-space: nowrap;
}
.page-scrollable-content{
    overflow: auto;
}
