@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
    background: rgba(0, 0, 0, 0.6);
}
body{
    width: 100%;
    height: 100%;
    font-family: Montserrat;
}
*:hover::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid transparent;
    background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid transparent;
    background-clip: padding-box;
}
::selection {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: none;
}


/* Overrides */
.md-button:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.3);
}
md-list.no-margin md-list-item > .md-button{
    padding-left: 0 !important;
}
.multilineTooltip ._md-content{
    height: auto;
}


/* Standard height for toolbar level */
.headbar{
    height: 64px;
}
.headbar .md-errors-spacer{
    min-height: 0;
}


/* Map background */
#map{
    position: absolute;
    width: 100%;
    height: 100%;
}
#map .angular-google-map-container{
    position: absolute;
    width: 100%;
    height: 100%;
}


/* Overmap timers */
#overmap-timers{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 16px 32px;
    color: white;
}
.overmap-timer{
    margin-bottom: 25px;
    position: relative;
    cursor: default;
}
.overmap-timer > *{
    font-size: 12px;
}
.overmap-timer-interval{
    font-size: 48px;
    align-items: baseline;
}
.overmap-timer-interval-minutes, .overmap-timer-interval-seconds{
    width: 75px;
}
.overmap-timer-interval-minutes{
    text-align: right;
}
.overmap-timer-interval-text{
    font-size: 18px;
}

.overmap-timer-removeBubble{
    position: absolute;
    padding: 10px 5px 15px 10px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px 0 0 5px;
    height: 34px;
    top: 25%;
    left: -50%;
    cursor: pointer;
    outline: none;
    line-height: 14px;
    box-sizing: border-box;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.overmap-timer-removeBubble::before{
    content: '';
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid rgba(0, 0, 0, 0.6);
    border-right: 0px solid transparent;
    position: absolute;
    top: 0px;
    right: -16.5px;
    -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
.overmap-timer-removeBubble:hover{
    background: rgba(20, 20, 20, 0.6);
}
.overmap-timer-removeBubble:hover::before{
    border-left-color: rgba(20, 20, 20, 0.6);
}
.overmap-timer-removeBubble.ng-enter{
    opacity: 0;
}
.overmap-timer-removeBubble.ng-enter-active{
    opacity: 1;
}
.overmap-timer-removeBubble.ng-leave{
    opacity: 1;
}
.overmap-timer-removeBubble.ng-leave-active{
    opacity: 0;
}

.overmap-timer.ng-enter{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -wekit-transform: translateX(33%);
    -moz-transform: translateX(33%);
    transform: translateX(33%);
    opacity: 0;
}
.overmap-timer.ng-enter-active{
    -wekit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
}
.overmap-timer.ng-leave{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -wekit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
}
.overmap-timer.ng-leave-active{
    -wekit-transform: translateX(33%);
    -moz-transform: translateX(33%);
    transform: translateX(33%);
    opacity: 0;
}


/* Overmap buttons */
#overmap-buttons{
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 16px 32px;
    color: white;
}

/* Overlay container */
#overlay{
    position: absolute;
    width: 100%;
    height: 100%;
}
#overlay > *{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Background style with overlay */
.overlayControlled{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    filter: blur(0px);
    transition: filter 0.3s ease;
    -webkit-transition: -webkit-filter 0.3s ease;
    -moz-transition: -moz-filter 0.3s ease;
}
.overlayControlled.about{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
}


/* Page wrapper */
#wrapper{
    position: absolute;
    width: 50%;
    max-height: 100%;
}
#wrapper *, #overlay *, #overmap-timers *{
    color: white;
}
#wrapper *:not(input), #about *, #overmap-timers *{
    /*text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.6) !important;*/
}
#wrapper svg, #overmap-timers svg{
    /*-webkit-filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.6));*/
    /*filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.6));*/
}


/* Overlays */
#splash{
    background: rgba(0, 0, 0, 0.6);
}
#splash *{
    color: white;
}
#about{
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}
#about *{
    text-align: center;
}
#about h2{
    margin: 0;
}
#about .about-part{
    font-size: 36px;
}
#about .about-name{
    font-size: 24px;
}
#about .about-avatar{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 50% 50%;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.6);
    background: gray;
}
#about .about-tools{
    margin: 5px 0;
    font-size: 18px;
}



/* Menu sidebar */
#menu{
    padding: 0 10px;
}
#menu #menu-toggle-button svg{
    overflow: visible; /* might not work */
}
#menu #menu-toggle-button svg path{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
#menu.closed #menu-toggle-button svg path{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

/* Menu animation */
#menu-more > .md-button{
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -wekit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
}
#menu.closed #menu-more > .md-button{
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
#menu-more > .md-button:nth-child(1){
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}
#menu-more > .md-button:nth-child(2){
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
#menu-more > .md-button:nth-child(3){
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
#menu.closed #menu-more > .md-button:nth-child(1){
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
#menu.closed #menu-more > .md-button:nth-child(2){
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
#menu.closed #menu-more > .md-button:nth-child(3){
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}
#menu.closed #menu-more > .md-button{
    -wekit-transform: translateX(-150%);
    -moz-transform: translateX(-150%);
    transform: translateX(-150%);
}


/* Content panel */
#content{
}


/* Universal styles */
.main-content{
    background: transparent;
    overflow: visible;
}
.page-title{
    font-size: 91px;
    margin: 0;
    padding: 0;
}
.page-subtitle{
    font-size: 20px;
    line-height: 28px;
    white-space: normal;
}
.page-header{
    margin-bottom: 30px;
    white-space: nowrap;
}
.page-scrollable-content{
    overflow: auto;
}
