<style>
    #search-input{
        width: 500px;
        height: 24px;
        font-size: 24px;
        border: 0;
        border-bottom: 2px solid white;
        background: transparent;
        outline: none;
        padding: 5px;
        box-sizing: content-box;
    }

    #search-input::placeholder{
        color: rgba(255, 255, 255, .7);
    }
    #search-input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .7);
    }
    #search-input:-moz-placeholder {
        color: rgba(255, 255, 255, .7);
    }
    #search-input::-moz-placeholder {
        color: rgba(255, 255, 255, .7);
    }
    #search-input:-ms-input-placeholder {
        color: rgba(255, 255, 255, .7);
    }

    .nearbyStop-info{
        margin-bottom: 23px;
        font-size: 28px;
    }
</style>

<div class="headbar" layout="row" layout-align="start center" flex="none">
    <input id="search-input" placeholder="search bus stop" ng-click="doSearch()" ng-model="searchTerm" ng-change="doSearch()">
</div>
<md-content flex class="main-content" layout="column">
    <div class="page-header" flex="none">
        <h1 class="page-title" msg="default-title"></h1>
        <span class="page-subtitle" msg="default-subtitle"></span>
    </div>

    <div ng-show="!nearbyStops.length" layout="column" layout-align="center start">
        <div>Getting your current location...</div>
    </div>
    <md-list class="page-scrollable-content no-margin" hide show-gt-xs>
        <md-list-item class="nearbyStop-info" ng-repeat="stop in nearbyStops track by stop.id"
                ng-click="goToStop(stop)" ng-mouseover="centerStop(stop)" ng-mouseout="decenterStop(stop)">
            <fav-button stop-id="stop.id" class="md-primary"></fav-button>
            <span>{{stop.name}}</span>
        </md-list-item>
    </md-list>
</md-content>