<style>
    .departure-info{
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 24px;
    }
    .departures .headsign, .departures .expected_mins{
        font-size: 28px;
    }
    .departures .destination, .departures .min_label{
        font-size: 14px;
        line-height: normal;
    }

    .istop-icon{
        color: white;
        margin-left: 8px;
        cursor: help;
    }
</style>
<link href="./styles/route-color.css" rel="stylesheet" />
<div class="headbar" layout="row" layout-align="start center" flex="none">
    <fav-button stop-id="stop.stop_id" ng-show="!stopNotExists"></fav-button>
    <h2>
        <span ng-if="!combinedStop.stop_name">nope.avi</span>
        <md-select class="md-no-underline" ng-if="combinedStop.stop_name" ng-model="stop_id" ng-change="goToStopId(stop_id)"
            aria-label="Stop point">
            <md-option ng-repeat="stop_point in stop_points_list" ng-value="stop_point.stop_id">
                {{stop_point.stop_name}}
            </md-option>
        </md-select>
    </h2>
</div>
<md-content flex class="main-content" layout="column">
    <div class="page-header" flex="none" ng-show="isSearching">
        <h1 class="page-title" msg="loading-title" msg-page-id="special"></h1>
        <span class="page-subtitle" msg="loading-subtitle" msg-page-id="special"></span>
    </div>
    <div class="page-header" flex="none" ng-show="departures.length && !isSearching">
        <h1 class="page-title" msg="default-title"></h1>
        <span class="page-subtitle" msg="default-subtitle"</span>
    </div>
    <div class="page-header" flex="none" ng-show="!departures.length && !isSearching && !stopNotExists">
        <h1 class="page-title" msg="empty-bus-arrival-title"></h1>
        <span class="page-subtitle" msg="empty-bus-arrival-subtitle"></span>
    </div>
    <div class="page-header" flex="none" ng-show="stopNotExists">
        <h1 class="page-title">Dafuq?</h1>
        <span class="page-subtitle">
            Stop id "{{stop_id}}" does not exist (in the internal database).<br>
            How did you get here?
        </span>
    </div>

    <md-list class="page-scrollable-content departures no-margin">
        <md-list-item class="departure-list-item"
                ng-repeat="departure in departures" ng-click="selectRoute(departure)"
                ng-class="[(departure.route.route_id | lowercase), {selected: departure.vehicle_id == selectedDeparture.entry.vehicle_id}]">
            <div class="departure-info" layout="column" layout-align="center start">
                <span class="headsign" layout="row" layout-align="start center">
                    {{departure.headsign}}
                    <md-icon class="istop-icon" md-svg-icon="ui:istop" ng-show="departure.is_istop">
                        <md-tooltip md-direction="right" md-delay="300">
                            Boarding is free<br>
                            (no iCard is needed)
                        </md-tooltip>
                    </md-icon>
                </span>
                <span class="destination">To {{departure.destination.stop_id | stopID}} - {{departure.expected | date : "HH:mm"}}</span>
            </div>
            <!-- Expected minutes remaining -->
            <div class="md-secondary" layout="column" layout-align="center center" ng-show="departure.expected_mins">
                <span class="expected_mins">{{departure.expected_mins}}</span>
                <span class="min_label">min</span>
            </div>
            <!-- "Due" text: Shows only when expected time is within 1 minute -->
            <div class="md-secondary" layout="column" layout-align="center center" ng-show="!departure.expected_mins">
                <span class="expected_mins">Due</span>
            </div>
            <!-- Timer icon: Shows only when expected time is greater than 1 minute -->
            <md-button class="md-icon-button md-secondary" ng-show="departure.expected_mins" ng-click="addTimer(departure)" aria-label="Set timer">
                <md-icon md-svg-icon="ui:timer"></md-icon>
            </md-button>
        </md-list-item>
    </md-list>
</md-content>