#map{
	touch-action: none;
}

#wrapper{
	width: 100%;
}

.page-header{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}
.page-header > .page-title{
	display: none;
}
.page-header > .page-subtitle{
	display: block;
	font-size: 0.6em;
	text-align: center;
	background: #0490a1;
	padding: 0px 0.3em;
	border-top: 1px solid black;
}


/* overmap-buttons */
#overmap-buttons{
	display: none;
}

.headbar{
	background: rgba(0, 0, 0, 0.6);
	font-size: 0.7em;
	overflow: hidden;
}

#content > .headbar{
	padding-right: 16px;
}

#menu{
    padding: 0px 0px;
}

/* Menu is expanding the #content and blocking the map */
#menu #menu-more{
	position: absolute;
	top: 64px;
}

/* search */
.nearbyStop-info{
	font-size: 1.3em !important;
	margin-bottom: 0 !important;
}