<style>
    .favStop-info{
        margin-bottom: 23px;
        font-size: 28px;
    }
</style>

<div class="headbar" layout="row" layout-align="start center" flex="none">
    <h2>Favorites</h2>
</div>
<md-content flex class="main-content" layout="column">
    <div class="page-header" flex="none">
        <h1 class="page-title" msg="default-title"></h1>
        <span class="page-subtitle" msg="default-subtitle"</span>
    </div>

    <md-list class="page-scrollable-content departures">
        <md-list-item class="favStop-info" ng-repeat="stop in stops track by stop.stop_id" ng-click="goToStop(stop)">
            <fav-button stop-id="{{stop.stop_id}}" class="md-primary"></fav-button>
            <span>{{stop.stop_name}}</span>
        </md-list-item>
    </md-list>
</md-content>