<style>
    #search-input{
        width: 500px;
        height: 24px;
        font-size: 24px;
        border: 0;
        border-bottom: 2px solid white;
        background: transparent;
        outline: none;
        padding: 5px;
        box-sizing: content-box;
    }

    .nearbyStop-info{
        margin-bottom: 23px;
        font-size: 28px;
    }
    .nearbyStop-info a{
        color: white !important;
        text-decoration: none !important;
    }
    .favorite-button{
        padding: 0;
    }
    .favorite-button md-icon{
        color: white;
    }

    .nearbyStop-info > *{
        vertical-align: center !important;
        display: inline-block;
    }

</style>

<div class="headbar" layout="row" layout-align="start center" flex="none">
    <input id="search-input" placeholder="search" ng-click="doSearch()" ng-model="searchTerm" ng-change="doSearch()">
</div>
<md-content flex class="main-content" layout="column">
    <div class="page-header" flex="none">
        <h1 class="page-title">{{"default-title" | msg:"landing"}}</h1>
        <span class="page-subtitle">{{"default-subtitle" | msg:"landing"}}</span>
    </div>

    <div ng-show="!nearbyStops.length">
        Waiting for location service...
    </div>
    <md-list class="page-scrollable-content">
        <md-list-item class="nearbyStop-info" ng-repeat="stop in nearbyStops track by stop.stop_id"
                ng-click="goToStop(stop)" ng-mouseover="highlightStop(stop)" ng-mouseout="dehighlightStop(stop)">
            <md-button class="md-icon-button" ng-click="toggleFavorite(stop.stop_id)" aria-label="Toggle favorite">
                <md-tooltip md-direction="left" md-delay="1000">favorite</md-tooltip>
                <md-icon class="md-primary" md-svg-src="icons/emptyheart.svg"></md-icon>
            </md-button>
            <span>{{stop.stop_name}}</span>
        </md-list-item>
    </md-list>
</md-content>