<style>
    #search-input{
        width: 500px;
        height: 24px;
        font-size: 24px;
        border: 0;
        border-bottom: 2px solid white;
        background: transparent;
        outline: none;
        padding: 5px;
        box-sizing: content-box;
    }

    .nearbyStop-info{
        margin-bottom: 23px;
        font-size: 28px;
    }
    .nearbyStop-info a{
        color: white !important;
        text-decoration: none !important;
    }
    .favorite-button{
        padding: 0;
    }
    .favorite-button md-icon{
        color: white;
    }


</style>

<div class="headbar" layout="row" layout-align="start center" flex="none">
    <input id="search-input" placeholder="search" ng-model="searchTerm" ng-model-options="{debounce: 200}"
        ng-change="performSearch()"
        ng-keypress="goToFirstOption($event)">
</div>
<md-content flex class="main-content" layout="column">
    <div class="page-header" flex="none" ng-if="!searchResults.length && searchTerm.length && !isSearching">
        <h1 class="page-title" msg="search-fail-title" msg-page-id="error"></h1>
        <span class="page-subtitle" msg="search-fail-subtitle" msg-page-id="error"</span>
    </div>
    <md-list class="page-scrollable-content">
        <md-list-item class="nearbyStop-info" ng-repeat="stop in searchResults track by $index"
                ng-click="goToStop(stop)" ng-mouseover="highlightStop(stop)" ng-mouseout="dehighlightStop(stop)">
            <fav-button stop-id="stop.stop_id" class="md-primary"></fav-button>
            <span>{{stop.stop_name}}</span>
        </md-list-item>
    </md-list>
</md-content>