<style>
    .departure-info{
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .departures .headsign, .departures .expected_mins{
        font-size: 28px;
    }
    .departures .destination, .departures .min_label{
        font-size: 14px;
        line-height: normal;
    }

    .istop-icon{
        color: white;
        margin-left: 8px;
        cursor: help;
    }
</style>

<div class="headbar" layout="row" layout-align="start center" flex="none">
    <fav-button stop-id="stop.stop_id"></fav-button>
    <h2>
        <span>{{stop.stop_name}}</span>
    </h2>
</div>
<md-content flex class="main-content" layout="column">
    <div class="page-header" flex="none" ng-show="isSearching">
        <h1 class="page-title">Loading...</h1>
        <span class="page-subtitle"></span>
    </div>
    <div class="page-header" flex="none" ng-show="departures.length">
        <h1 class="page-title" msg="default-title"></h1>
        <span class="page-subtitle" msg="default-subtitle"</span>
    </div>
    <div class="page-header" flex="none" ng-show="!departures.length && !isSearching && !stopNotExists">
        <h1 class="page-title" msg="empty-bus-arrival-title"></h1>
        <span class="page-subtitle" msg="empty-bus-arrival-subtitle"></span>
    </div>
    <div class="page-header" flex="none" ng-show="stopNotExists">
        <h1 class="page-title">Dafuq?</h1>
        <span class="page-subtitle">
            Stop id "{{stop_id}}" does not exist (in the internal database).<br>
            How did you get here?
        </span>
    </div>

    <md-list class="page-scrollable-content departures">
        <md-list-item ng-repeat="departure in departures" ng-click="goToTrip(departure.vehicle_id)">
            <div class="departure-info" layout="column" layout-align="center start">
                <span class="headsign" layout="row" layout-align="start center">
                    {{departure.headsign}}
                    <md-icon class="istop-icon" md-svg-src="icons/istop.svg" ng-show="departure.is_istop">
                        <md-tooltip md-direction="right" md-delay="300">
                            Boarding is free<br>
                            (no iCard is needed)
                        </md-tooltip>
                    </md-icon>
                </span>
                <span class="destination">To {{departure.destination.stop_id | stopID}}</span>
            </div>
            <div class="md-secondary" layout="column" layout-align="center center" ng-show="departure.expected_mins">
                <span class="expected_mins">{{departure.expected_mins}}</span>
                <span class="min_label">min</span>
            <div class="md-secondary" layout="column" layout-align="center center" ng-show="!departure.expected_mins">
                <span class="expected_mins">Due</span>
            </div>
        </md-list-item>
    </md-list>
</md-content>