<style>
	#timer-prompt *{
	}
	#timer-prompt{
	    width: 535px;
	    font-weight: bold;
	    font-family: Roboto;
	}
	#timer-prompt md-dialog-content{
	    padding: 13px;
	}
	#timer-prompt h2{
	    font-size: 36px;
	    margin: 0;
	}
	#timer-prompt h3{
	    font-size: 20px;
	    margin: 0;
	}
	#timer-interval-text{
		font-size: 64px;
		text-align: center;
		font-family: Montserrat;
		font-weight: normal;
	}

	.timer-interval-selector-container{
		margin: 16px 0;
	}
	.timer-interval-selector{
		width: 100%;
	}

	.timer-interval-inc-dec.md-icon-button{
		width: 71px;
		height: 71px;
	}
	.timer-interval-inc-dec.md-icon-button > md-icon{
		color: #000000;
		width: 55px;
		height: 55px;
	}

	.timer-interval-set-button{
		font-size: 36px;
		height: 45px;
		border: 1px solid black;
		border-radius: 45px;
		color: black !important;
		text-transform: none;
		font-family: Roboto;
		font-weight: bold;
	}

</style>

<md-dialog aria-label="Setting a fucking timer" id="timer-prompt">
    <md-dialog-content>
	    <h2 msg="title" msg-page-id="Timer"></h2>
	    <h3 msg="subtitle" msg-page-id="Timer"></h3>
	    <div class="timer-interval-selector-container" layout="column" layout-align="center center">
		    <div class="timer-interval-selector" layout="row" layout-align="center center">
				<md-button class="timer-interval-inc-dec md-icon-button" ng-click="decrease()" aria-label="Decrease">
					<md-icon md-svg-src="icons/minus.svg"></md-icon>
				</md-button>
				<ng-pluralize id="timer-interval-text" count="timerInterval" when="{'1': '{} min', 'other': '{} mins'}" flex="60"></ng-pluralize>
				<md-button class="timer-interval-inc-dec md-icon-button" ng-click="increase()" aria-label="Increase">
					<md-icon md-svg-src="icons/add.svg"></md-icon>
				</md-button>
		    </div>
		    <div>...before the bus comes</div>
		</div>
	    <div layout="row" layout-align="center center">
	        <md-button class="md-primary timer-interval-set-button" ng-click="setTimer()" md-no-ink="true" aria-label="Set" flex="40">
	            Set
	        </md-button>
	    </div>
    </md-dialog-content>
</md-dialog>